{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}}</h2>
{{/banner}}


<div class="container list">
    <div class="item">
        <img src="images/chucky.webp" class="item--image" />
        <div class="item--name">chucky</div>
      
        <div class="item--genre">Gênero: Terror</div>
    </div>
</div>

{{>partials/footer}}